* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.search-form {
  background-color: rgb(88, 88, 218);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 10px;
  width: 100%;

}

.search-form input {
  width: 40%;
  max-width: 100%;
  min-width: 200px;
  padding: 5px;
  margin-right: 10px;
}

.search-form button {
  padding: 5px 7px;
  cursor: pointer;
}



.gallery {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.photo-card {
  width: 20%;
  min-width: 250px;

}

.photo-card img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  align-items: stretch;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
}

.loading {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  padding-top: 5rem;
  z-index: 999;
}


.load-more {
  cursor: pointer;
  background-color: rgb(124, 124, 218);
  font-size: 16px;
  padding: 3px 15px;
  margin-top: 10px;
  display: block;
  margin: auto;
}


.hidden {
  display: none;
}